@font-face{
    font-family: Avenir;
    src: url(../../fonts/AvenirNextLTPro-Regular.otf) format("opentype");
}

@font-face{
    font-family: AvenirBold;
    src: url(../../fonts/AvenirNextLTPro-Bold.otf) format("opentype");
}

@font-face{
    font-family: AvenirLight;
    src: url(../../fonts/AvenirNextLTPro-Demi.otf) format("opentype");
}

@font-face{
    font-family: BaskervilleBold;
    src: url(../../fonts/LibreBaskerville-Bold.ttf) format("opentype");
}

@font-face{
    font-family: BaskervilleRegular;
    src: url(../../fonts/LibreBaskerville-Regular.ttf) format("opentype");
}

body{
    font-family: 'Avenir';
    letter-spacing: 1px;
}

.clear-button{
    color: #486600;
    border-color: #486600;
    border-radius: 0px;
    padding-left: 8%;
    padding-right: 8%;
}

.clear-button:hover{
    color: white;
    background-color: #486600;
}

.btn-verde{
    text-align:left;
    background-color: #486600;
    border-radius: 0px;
    padding-left: 5%;
    padding-right: 5%;
}

.btn-verde:hover{
    background-color: inherit;
    color: #486600;
    border-color: #486600;
}

.property-card{
    margin: 1% 0;
}

.container{
    /*margin-top: 5%;
    margin-bottom: 5%;*/
}

.border-button {
    border-radius: 25px;
}

.form-control {
    border-color: #808080 !important;
    height: 55px !important;
}

.circle-social {
    background-color: #fff;
    padding: 5px;
    width: 30px;
    height: auto;
    border-radius: 50%;
    margin:5px;
}

.circle-social > a {
    color:#000;
}

.btn-transparent {
    border-color: #fff !important;
    border-radius: 0px !important;
    padding: 5px !important;
    color: #fff !important;
}

.btn-transparent:hover {
    color: white !important;
    background-color: #486600 !important;
}

.header{
    background-color: #807f797d !important;
    position: fixed !important;
}
.header ul{
    color: white !important;
}
.sticky_nav{
    top: 0 !important;
}
.bar-active {
    background-color: #938d83 !important;
    height: 5px;
    margin:0;
}