.property-card{
    background-color: #dedede;
    border-radius: 4px;
    line-height: 40px;
    margin: 3% 0;
    padding: 3%;
    color:#000;
}

h1{
    font-size: 1.75rem;
    font-weight: bolder;
    color: #223300;
    text-align: center;
}

.fa-check, .fa-phone-volume, .fa-envelope{
    color: #223300;
}


.format-name {
    font-family: 'Avenir';
    text-transform: uppercase;
    float: left;
}