.post-container {
    min-height: 1000px;
    width: 1200px;
    padding-bottom: 100px;
}

.comments-section {
    border-top: 1px solid rgba(0,0,0,.3);
    max-width: 1200px;
    padding-top: 20px;
    padding-bottom: 50px;
}
