{% extends 'ecommerce/layouts/ecommerce.layout.html' %}

{% load static %}


{% block estilos-adicionales %}

<style>
    #header_section_back{
        background-image: url("{% static 'img/img-25.png' %}");
        background-position: bottom;
    }

    .desarrollos-text{
        text-align: justify;
        line-height: 1.7rem;
        font-size: 1.2rem;
    }


</style>

{% endblock estilos-adicionales %}
    

{% block content %}
{% include '../includes/header.html' with seccion="AMBAR" %}

<div id="desarrollos" style="margin: 7%;">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
            <p class="desarrollos-text">
                DISFRUTA EL ESTILO DE VIDA QUE SIEMPRE QUISISTE <br><br>
                Ámbar redefine el concepto de residencias de lujo en Hermosillo. Creado para ser un espacio que te conecta con lo mejor de la ciudad por su excelente ubicación, la Colonia Pitic.
                Ámbar redefine el concepto de residencias de lujo en Hermosillo. <br><br> 
                Diseñado para crear y vivir experiencias únicas con tu estilo de vida. 
                Un proyecto con una ubicación incomparable rodeado de atardeceres nunca antes vistos. Un espacio que te conecta con lo mejor que ofrece la ciudad.

            </p>
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <a href="" class="desarrollo-link">
                <img class="img-desarrollo" style="width: 80%;" src="{% static 'img/img-26.png' %}">
            </a>
        </div>
    </div>
</div>

<div>
    <img src="{% static 'ecommerce/img/banner-redes.png' %}">
</div>

{% endblock content %}