.post-list-back {
    display: flex;
    justify-content: center;
    width: 100%;
}

.post-list-content {
    width: 100%;
    padding-top: 50px;
    min-height: 800px;
    max-width: 1440px;
}

.post-list-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 1000px;
}

article.post {
    width: 30%;
    // max-width: 500px;
    margin-bottom: 50px;
}

.post-list-post-image {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    // max-width: 500px;
}

.posts-list-post-title {
    color: $primaryGreen;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 24px;
}

.posts-list-post-content-container {
    // font-weight: lighter;
    text-align: justify;
}

.posts-list-post-date {
    font-size: 12px;
    color: #757575;
    font-style: italic;
}

.posts-list-pagination-links {
    display: flex;
    justify-content: center;
}

.posts-pagination__container {
    display: flex;
    justify-content: center;
    width: 100% !important;
    margin-bottom: 10px;
}

.step-links > a{
    border: 1px solid $primaryGreen;
    box-sizing: border-box;
    padding: 5px;
}
