{% extends 'backoffice/layouts/backofficelayout.html' %}

{% block contentU %}
{% load static %}

<!-- Tabs -->
<div class="card">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Tab1</span></a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Tab2</span></a> </li>
        <li class="nav-item "> <a class="nav-link" data-toggle="tab" href="#messages" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Tab3</span></a> </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content tabcontent-border">
        <div class="tab-pane active" id="home" role="tabpanel">
            <div class="p-20">
                {{ user }}
                <p>And is full of waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment..</p>
            </div>
        </div>
        <div class="tab-pane  p-20" id="profile" role="tabpanel">
            <div class="p-20">
                <p class="m-t-10">And is full of waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment..</p>
            </div>
        </div>
        <div class="tab-pane p-20" id="messages" role="tabpanel">
            <div class="p-20">
                <p>And is full of waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment..</p>
            </div>
        </div>
    </div>
</div>

<ul class="users-tabs">
<li class="users-tabs__item {% if request.path|slice:':33' == '/administracion/usuarios/editores' %} users-tabs__item--active {% endif %}"><a class="users-tabs__item" href="{% url 'backoffice:users_editors' %}"
    class="">Editores</a>
    </li>
    <li class="users-tabs__item {% if request.path|slice:':35' == '/administracion/usuarios/vendedores' %} users-tabs__item--active {% endif %} "><a  href=""
            class="">Vendedores</a>
    </li>
    <li class="users-tabs__item {% if request.path|slice:':40' == '/administracion/usuarios/administradores' %} users-tabs__item--active {% endif %}"><a href="{% url 'backoffice:users_admins' %}"
            class="">Administradores</a></li>
</ul>
<!-- TABLA -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title"></h5>
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>E-mail</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in object_list %}
                    <tr>
                        <td >{{ user }}</td>
                        <td >{{ user.phone }}</td>
                        <td >{{ user.email }}</td>
                        <td >
                            <a
                                href="{% url 'backoffice:users_details' user.id %}"
                                class="btn btn-sm btn-success text-xs"
                                ><img
                                    class="inline table__action-icon"
                                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAO5JREFUSEtjZKAxYKSx+QyjFhAMYaxB9P//fwGgzn4gDoCasAFIFzIyMn4gaCKaAlwWXACq00dTewFogSHFFgBdD3L1ehwGBQItAfmGAajuPz7LgOrAjsfwAVBfA1C8HofmRqA+kDxFFhDlA2KDipQ4uAh0vQGxBsPU4UtFE9BSUQF6KsIXDzjjgBQXkmUBNBXlAy1yQLPsAJAPimQQTTRACSKg4QuAOuMJ6IanJGJsgVtAIP2jm+UI8wmuYMKIA6BCkNftiXEVUM1BoAHgICTFArw5E91imAsJOQg5iGhrASGXkCs/WqMRDDmaBxEASiJaGVnV+DwAAAAASUVORK5CYII="
                            /></a>
                            <a
                                href="{% url 'backoffice:users_update' user.id %}"
                                class="btn btn-sm btn-warning text-xs"
                                ><img
                                    class="inline table__action-icon"
                                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAQZJREFUSEvVlGsRgkAURtkEGsEG2kBsQAMzmEAjWMEERhAbYAKNYAP8vpldB653gX3ww51xGK5wzn2wa4qZl5mZXyQL2rZdIsm9TfRijHl3k04SWPgNwI2FNrjuupJUQQ3gVrS5J0kVMHNKFkJyQBVnxoIFti1XvEtIg3tNEicQPecw2W8peSBeujlMrkAZKDsgJWxLFTxkD9y1/SvR9tRoBSNwx7wj6zJYMBHe67mUeCvIAfd+prngqiAn3CfgVl8PnLKDPR+cAbJf4YFnLvhPBRBUCPIY0FZQ5g7Q+4ogOOGPo0KPgmsV1AjK4zcargleCPJHEYfdYIfyPnqNHhXRZPvi/ws+xMCAGU/0VT8AAAAASUVORK5CYII="
                            /></a>
                            <a
                                href="{% url 'backoffice:users_delete' user.id %}"
                                class="btn btn-sm btn-danger text-xs"
                                ><img
                                    class="inline table__action-icon"
                                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAASZJREFUSEu1lY0RgjAMhekk4gTqBK6gE+gGwiTiBOoE4iawAUyCL3cplv4AhZa73nHXNF+SJq8iifyJyP6TSUDXdVcEccTa86KYKl6lEOI7FqQTAMcnHLxjpRNZNtjPASptdlYAnBcwvnmWrwAk188YgIXOpd8HIJkKGQC4LB/PyHXzs1ouHUD13KwENABspY8ewN3yXOlcHu+zUAEv7F4CAd7Igtr7PwfIgHp7FwhQAXDQAZ3RYrCaA0RwzrNqiaIDQpaoRvIkLYM7iH7JpD1rh8zdprSDuwoxaC3KkxqDxoAQWbilgiFLlFQGPC520mqhohrOB12kDxQrK2UzJX4tbDKvB0eFMYjuhvpaSkmNf5obejKtL5n1kufIgq/NLK3xdara/wD6iXAZt0W6kAAAAABJRU5ErkJggg=="
                            /></a>
                        </td>
                    </tr>
                    {% empty %}
                        <p colspan="4">No hay registros</p>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>E-mail</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>
<!-- <div class="table-wrapper w-10/12">
    <table class=" table table-auto  w-full custom-table">
        <thead class="table__head">
            <th class="px-4 py-2" width="40%">Nombre</th>
            <th class="px-4 py-2" width="20%">Telefono</th>
            <th class="px-4 py-2" width="20%">Email</th>
            <th class="px-4 py-2" wisth="20%">Acciones</th>
        </thead>
        <tbody class="table__body">

            {% for user in object_list %}
                <tr>
                <td >{{ user }}</td>
                <td style="text-align: center">{{ user.phone }}</td>
                <td style="text-align: center">{{ user.email }}</td>
                <td  style="text-align: center">
                    <a
                        href="{% url 'backoffice:users_details' user.id %}"
                        class="btn btn-sm btn-success text-xs"
                        ><img
                            class="inline table__action-icon"
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAO5JREFUSEtjZKAxYKSx+QyjFhAMYaxB9P//fwGgzn4gDoCasAFIFzIyMn4gaCKaAlwWXACq00dTewFogSHFFgBdD3L1ehwGBQItAfmGAajuPz7LgOrAjsfwAVBfA1C8HofmRqA+kDxFFhDlA2KDipQ4uAh0vQGxBsPU4UtFE9BSUQF6KsIXDzjjgBQXkmUBNBXlAy1yQLPsAJAPimQQTTRACSKg4QuAOuMJ6IanJGJsgVtAIP2jm+UI8wmuYMKIA6BCkNftiXEVUM1BoAHgICTFArw5E91imAsJOQg5iGhrASGXkCs/WqMRDDmaBxEASiJaGVnV+DwAAAAASUVORK5CYII="
                    /></a>
                    <a
                        href="{% url 'backoffice:users_update' user.id %}"
                        class="btn btn-sm btn-warning text-xs"
                        ><img
                            class="inline table__action-icon"
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAQZJREFUSEvVlGsRgkAURtkEGsEG2kBsQAMzmEAjWMEERhAbYAKNYAP8vpldB653gX3ww51xGK5wzn2wa4qZl5mZXyQL2rZdIsm9TfRijHl3k04SWPgNwI2FNrjuupJUQQ3gVrS5J0kVMHNKFkJyQBVnxoIFti1XvEtIg3tNEicQPecw2W8peSBeujlMrkAZKDsgJWxLFTxkD9y1/SvR9tRoBSNwx7wj6zJYMBHe67mUeCvIAfd+prngqiAn3CfgVl8PnLKDPR+cAbJf4YFnLvhPBRBUCPIY0FZQ5g7Q+4ogOOGPo0KPgmsV1AjK4zcargleCPJHEYfdYIfyPnqNHhXRZPvi/ws+xMCAGU/0VT8AAAAASUVORK5CYII="
                    /></a>
                    <a
                        href="{% url 'backoffice:users_delete' user.id %}"
                        class="btn btn-sm btn-danger text-xs"
                        ><img
                            class="inline table__action-icon"
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAASZJREFUSEu1lY0RgjAMhekk4gTqBK6gE+gGwiTiBOoE4iawAUyCL3cplv4AhZa73nHXNF+SJq8iifyJyP6TSUDXdVcEccTa86KYKl6lEOI7FqQTAMcnHLxjpRNZNtjPASptdlYAnBcwvnmWrwAk188YgIXOpd8HIJkKGQC4LB/PyHXzs1ouHUD13KwENABspY8ewN3yXOlcHu+zUAEv7F4CAd7Igtr7PwfIgHp7FwhQAXDQAZ3RYrCaA0RwzrNqiaIDQpaoRvIkLYM7iH7JpD1rh8zdprSDuwoxaC3KkxqDxoAQWbilgiFLlFQGPC520mqhohrOB12kDxQrK2UzJX4tbDKvB0eFMYjuhvpaSkmNf5obejKtL5n1kufIgq/NLK3xdara/wD6iXAZt0W6kAAAAABJRU5ErkJggg=="
                    /></a>
                </td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No hay registros</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</div> -->
{% endblock contentU %}

{% block footer_actions %}
<div id="footer_actions">
    <ul class="footer-actions">
    <li class="footer-actions__item"><a href="{% url 'backoffice:users_create' %}"><img class="footer-actions__icon"src="{% static 'img/backoffice/ic-add.png' %}" alt="">Nuevo usuario</a></li>
    </ul>
</div>
{% endblock footer_actions %}
{% block scripts %}
<script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/extra-libs/DataTables/datatables.min.js' %}"></script>
<script>
    /****************************************
     *       Basic Table                   *
     ****************************************/
    $('#zero_config').DataTable();
</script>
<script src="{% static 'dist/js/custom.min.js' %}"></script>
{% endblock scripts %}
