{% extends 'backoffice/layouts/backoffice.layout.html' %}

{% block content %}
<form class="slider-form" action="{% url 'backoffice:users_update' object.id %}" method="POST" enctype="multipart/form-data">

    {% if form.errors %}
    {% for key,value in form.errors.items %}
    <div class="login-form__alert" role="alert">
        <p>{{key}}: {{ value }}</p>
    </div>

    {% endfor %}
    {% endif %}

    {% if messages %}
    <ul class="login-form__alert" role="alert">
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% csrf_token %}
    <div class="form-group">
        <label for="first_name">{{form.first_name.label}}</label>
        <input type="text" name="first_name" id="first_name" value="{{object.first_name}}" required>
    </div>
    <div class="form-group">
        <label for="first_surname">{{form.first_surname.label}}</label>
        <input type="text" name="first_surname" id="first_surname" value="{{object.first_surname}}" required>
    </div>
    <div class="form-group">
        <label for="last_surname">{{form.last_surname.label}}</label>
        <input type="text" name="last_surname" id="last_surname" value="{{object.last_surname}}" required>
    </div>
    <div class="form-group">
        <label for="email">{{form.email.label}}</label>
        <input type="email" name="email" id="email" value="{{object.email}}" required>
    </div>
    <div class="form-group">
        <label for="phone">{{form.phone.label}}</label>
        <input type="phone" name="phone" id="phone" value="{{object.phone|default:""}}">
    </div>
    <div class="form-group">
        <label for="type">{{form.type.label}}</label>
        {{form.type}}
    </div>

    <div class="form-group__actions">
        <button class="btn btn-success" type="submit">Guardar</button>
        <a class="btn btn-danger" href="{% url 'backoffice:users_editors' %}">Cancelar</a>
    </div>
</form>
{%endblock%}
