{% extends 'ecommerce/layouts/ecommerce.layout.html' %}
{% load static %}


{% block estilos-adicionales %}
<link rel="stylesheet" href="{% static 'css/ecommerce/home.css' %}">
<style>
    .img-container {
        height: 400px;
        width: 380px;
    }

    .img-containter img {
        height: 100%;
        width: auto;
    }

    .texto {
        height: 80px;
    }

    .texto-logo-caterra{
        padding: 5%;
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 77%, rgba(255,255,255,1) 100%);
        color: white;
        text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
    }

    .btn-negro{
        text-align:left;
        background-color: inherit;
        border-radius: 0px;
        padding-left: 5%;
        padding-right: 5%;
        border-color: #ffffff;
    }

    .btn-negro:hover{
        background-color: #ffffff;
        color: #000000;
    }

    .complete-header{}

</style>
{% endblock estilos-adicionales %}

{% block content %}

<body class="home">
    <div class="complete-header">
        {% include './includes/nav.html' %}
        <!-- slider section -->
        <div id="slider_back">
            <section class="slider">
                <ul class="sliders">
                    <li class="glide__slide main-slider__item">
                        <img src="{% static 'img/banner-carro.png' %}" alt=""/>
                        <div class="main-slider__content">
                            <h2 class="main-slider__content__title">Conoce nuestros</h2>
                            <h2 class="main-slider__content__title">Recorridos Virtuales</h2>         
                        </div>
                    </li>
                    {% for slider in sliders %}
                    <li class="glide__slide main-slider__item">
                        <img src="{{ slider.image.url }}" alt="">
                        <div class="main-slider__content">
                            <h2 class="main-slider__content__title">{{ slider.title}}</h2>
                            <a href="{{ slider.url }}" class="main-slider__content__action btn btn-success text-xs">Ver
                                más</a>
                        </div>
                    </li>
                    {% endfor %}
    
                </ul>
            </section>
        </div>
    </div>
    <!-- end of slider section -->
    <!-- search section -->
    <!-- <div id="search_section_back">
        <section class="search-section">
            <h4 class="search-section__title">¿Qué estás buscando?</h4>
            <form class="search-section__form" action="">
                <select class="search-section__select" name="machine_type" id="">
                    <option value="" selected disabled>Tipo de maquina</option>
                    <option value="1">Motosierra</option>
                    <option value="1">Podadora</option>
                </select>
                <select class="search-section__select" name="machine_brand" id="">
                    <option value="" selected disabled>Marca</option>
                    <option value="1">Stihl</option>
                    <option value="1">Truper</option>
                </select>
                <select class="search-section__select" name="machine_type" id="">
                    <option value="" selected disabled>Modelo</option>
                    <option value="1">2010</option>
                    <option value="1">2011</option>
                </select>
                <button class="btn btn-success" type="submit">Buscar</button>
            </form>
        </section>
    </div> -->
    <!-- end of search section -->
    <!-- video section -->
    <!-- <div id="video_section_back">
        <section class="video-section">
            <section class="business-features">
                <article class="business-features__item business-features__item__green">
                    <div class="business-features__icon">
                        <img src="{% static 'backoffice/img/ic-10.png' %}" alt="">
                    </div>
                    <div class="business-features__content">
                        <h4>Envío gratis</h4>
                        <span>En compras mayores de $599.00</span>
                    </div>
                </article>
                <article class="business-features__item business-features__item__dark">
                    <div class="business-features__icon">
                        <img src="{% static 'backoffice/img/ic-11.png' %}" alt="">
                    </div>
                    <div class="business-features__content">
                        <h4>Devolución</h4>
                        <span>¡Gratis!</span>
                    </div>
                </article>
                <article class="business-features__item business-features__item__black">
                    <div class="business-features__icon">
                        <img src="{% static 'backoffice/img/ic-12.png' %}" alt="">
                    </div>
                    <div class="business-features__content">
                        <h4>Atención personalizada</h4>
    
                    </div>
                </article>
            </section>
            <section class="video">
                <div class="video-content">
                    <h2>{{ video.title }}</h2>
                    <p>{{ video.content }}</p>
                </div>
                <div class="video-player">
                            {% autoescape off %}
                                {{ video.code }}
                            {% endautoescape %}
                </div>
            </section>
        </section>
    </div> -->
    <!-- end of video section -->

    <!-- map -->
    <div class="container-fluid" style="margin-bottom: -3%; align:center; background-color:#ececec;">
        <img src="{% static 'ecommerce/img/mapa.png' %}" class="mapimg">
    </div>
    <!-- end map -->

    <!-- formulario index -->
    <div align="center" style="
            background-color: #e9e9e9;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 6%;
            padding-top: 3%;
            padding-bottom: 3%;
            border-top: 4px solid #000000;
            position: relative;
            ">
        <form class="contact-section-form" action="{% url 'ecommerce:contact' %}" method="POST">
            {% csrf_token %}
            <!-- <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Nombre:</label>
                            <input type="text" class="form-control" name="name" id="name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" name="email" id="email" required>
                        </div>
                        <div class="form-group">
                            <label for="subject">Asunto:</label>
                            <input name="subject" class="form-control" id="subject"></input>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="message">Mensaje:</label>
                            <textarea name="message" class="form-control" id="message" rows="8"></textarea>
                        </div>
                    </div>
                </div>
                <div align="center">
                    <button type="submit" class="btn"
                    style="
                        background-color: #223300;
                        border-radius: 36px;
                        padding-left: 2%;
                        padding-right: 2%;
                        ">Enviar</button>
                </div> -->
            <div class="row" style="text-align: center; text-align-last: center;">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="tipo_propiedad" class="label">TIPO DE PROPIEDAD</label>
                        <select class="form-control">
                            <option value="">Tipo de Propiedad</option>
                            <option value="">Opcion 1</option>
                            <option value="">Opcion 2</option>
                            <option value="">Opcion 3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ciudad" class="label">CIUDAD</label>
                        <select class="form-control">
                            <option value="">Ciudad</option>
                            <option value="">Opcion 1</option>
                            <option value="">Opcion 2</option>
                            <option value="">Opcion 3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="habitaciones" class="label">HABITACIONES</label>
                        <select class="form-control">
                            <option value="">Habitaciones</option>
                            <option value="">Opcion 1</option>
                            <option value="">Opcion 2</option>
                            <option value="">Opcion 3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="tipo_oferta" class="label">TIPO DE OFERTA</label>
                        <select class="form-control">
                            <option value="">Tipo de Oferta</option>
                            <option value="">Opcion 1</option>
                            <option value="">Opcion 2</option>
                            <option value="">Opcion 3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="estado" class="label">ESTADO</label>
                        <select class="form-control">
                            <option value="">Estado</option>
                            <option value="">Opcion 1</option>
                            <option value="">Opcion 2</option>
                            <option value="">Opcion 3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tamano" class="label">TAMAÑO</label>
                        <select class="form-control">
                            <option value="">Tamaño</option>
                            <option value="">Opcion 1</option>
                            <option value="">Opcion 2</option>
                            <option value="">Opcion 3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row form-group">
                        <div class="col-md-12" style="text-align: center;">
                            <label for="precio" class="label">PRECIO</label>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="number" placeholder="Desde" class="form-control" name="precio-desde"
                                    id="precio-desde">
                            </div>
                            <div class="col-md-6">
                                <input type="number" placeholder="Hasta" class="form-control" name="precio-hasta"
                                    id="precio-hasta">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="numero_banos" class="label">BAÑOS</label>
                        <select class="form-control">
                            <option value="">Número de Baños</option>
                            <option value="">Opcion 1</option>
                            <option value="">Opcion 2</option>
                            <option value="">Opcion 3</option>
                        </select>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6 prop_form">
                            <button type="reset" class="btn btn-block clear-button">LIMPIAR</button>
                        </div>
                        <div class="col-md-6 prop_form">
                            <button type="submit" class="btn btn-block btn-verde" >BUSCAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- end formulario index -->

    <!-- logo-texto -->
    <div class="texto-logo-caterra">
        <div class="row">
            <div align="center" style="
            margin-left: 5%;
            margin-right: 5%;
            ">
                <div class="col-md-4" style="float:left;">
                    <img src="{% static 'img/logo-negro-plateado.png' %}" width="80%" style="margin-bottom: 1.5em;">
                </div>
                <div class="col-md-8" style="padding-left: 5%; float:left;">
                    <p style="text-align: justify;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet risus nec elit lacinia
                        accumsan
                        ultricies id dolor.
                        Nam pulvinar ante massa, a efficitur risus elementum at. Proin egestas facilisis efficitur.
                        Suspendisse
                        nisl nibh, convallis id facilisis vel, placerat ac urna.
                        Nulla eu leo lectus. Praesent consequat augue purus, ac congue justo fringilla ut. Sed sed velit
                        diam.
                        Donec nisi metus, placerat nec dolor accumsan, rutrum fermentum lacus.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.Proin egestas facilisis efficitur.
                        Suspendisse
                        nisl nibh, convallis id facilisis vel, placerat ac urna.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.Proin egestas facilisis efficitur.
                        Suspendisse
                        nisl nibh, convallis id facilisis vel, placerat ac urna.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.Proin egestas facilisis efficitur.
                        Suspendisse
                        nisl nibh, convallis id facilisis vel, placerat ac urna.
                    </p>
                    <div align="left" style="margin-top: 1%; margin-top: 6%;">
                        <button type="submit" class="btn btn-negro">CONOCE MÁS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end logo-texto -->


    <!-- Propiedades -->
    <div class="container agentes" style="margin-top: 5%; margin-bottom: 5%;">
        <h1 class="h1_title">PROPIEDADES</h1>
        <div class="row">
            
            
            <!-- {% for image in images %}
                {{image}}
                
            {% endfor %} -->
    
    
            {% for propiedad in propiedades|slice:':6' %}
            <div class="col-md-4 property-card">
                <img class="img-responsive" src="{{propiedad.imagen.image.url}}">
                <div style="background-color: #f1f1f1; padding: 3%;">
                    <h1 style="font-size: 20pt;">{{propiedad.nombre}}</h1>
                    <p style="text-align: justify;">{{propiedad.direccion}}</p>
                    <p style="color: #486600">${{propiedad.precio}}</p>
                    <p><i class="fas fa-bed"></i>&nbsp;3&nbsp;&nbsp;&nbsp;<i class="fas fa-bath"></i>&nbsp;{{propiedad.banos}}&nbsp;&nbsp;&nbsp;<i class="fas fa-th-large"></i> {{propiedad.construccion}} m2</p>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Hace 3 Meses</p>
                        </div>
                        <div class="col-md-4">
                            <p><i class="far fa-clone"></i> Comparar</p>
                        </div>
                        <div class="col-md-4">
                            <a href="{% url  'ecommerce:property_detail' propiedad.id %}" class="btn clear-button">DETALLES</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div align="center" style="margin-top: 1%;">
            <form action="{% url 'ecommerce:properties' %}">
                <button class="btn btn-verde">
                    <p style="font-size: 24px;">
                        VER MAS
                    </p>
                </button>
            </form>
        </div>
    </div>




    <!-- end Propiedades -->

    <!-- Agentes -->
    <div class="agentes" style="background: url('static/ecommerce/img/patron-agentes.png'); background-size: cover;">
        <h1 class="h1_title">CONOCE A NUESTROS AGENTES</h1>
        <div class="container">
        </div>
        <div class="container" style="margin-top: 5%; margin-bottom: 5%;">
            <div class="row" style="margin-top: 3%; margin-bottom: 3%;">

                {% for agente in agentes|slice:':3' %}
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <div class="img-container d-flex justify-content-center">
                                <img src="{{agente.foto.url}}">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <br>
                            <h1 style="font-size: 20pt;">{{agente.user|title}}</h1>
                            <br>
                            <div class="texto">
                                <p style="text-align: justify;">{{agente.texto|truncatechars:210}}</p>
                            </div>
                            <br>
                            <p><span style="color: #486600"><i class="far fa-envelope"></i></span>    {{agente.user.email}}</p>
                            <div align="right" style="margin: 3% 0;">
                                <a href="{% url 'ecommerce:agent_profile' agente.id %}" class="btn clear-button"> VER PERIL</a>
                            </div>
                        </div>
                    </div>
                </div>               
                {% endfor %}
                    
            </div>
            <div align="center" style="margin-top: 1%;">
                <form action="{% url 'ecommerce:agents' %}">
                    <button class="btn btn-verde">
                        <p style="font-size: 24px;">
                            CONOCE A NUESTROS AGENTES <strong>AQUí</strong>
                        </p>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- end Agentes -->

    {% endblock content %}
</body>

{% block scripts %}
<script>
    document.getElementById("CaterraLogo").src = '{% static "img/logo-blanco.png" %}';
    $(document).ready(function () {
        $('.sliders').slick();
    })
</script>
{% endblock scripts %}