{% extends 'ecommerce/layouts/ecommerce.layout.html' %}

{% load static %}
{% load humanize %}
{% block content %}


{% block estilos-adicionales %}
<link rel="stylesheet" href="{% static 'css/ecommerce/property-detail.css' %}">
{% endblock estilos-adicionales %}


{% include './includes/header.html' with seccion=object.nombre %}


<!-- -------------------------------------------------------------------------- -->


<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div align="center">
                <img src="{{propiedad.imagen.image.url}}" alt="">
            </div>

            <!-- Video -->
            <div>
            </div>

            <!-- Informacion de propiedad -->
            <div class="row property-card">
                <div class="col-lg-6 col-sm-12">
                    <p>Tipo de propiedad: {{propiedad.tipo_inmueble | title}}</p>
                    <p>Colonia: {{propiedad.colonia | title}}</p>
                    <p>Tamaño de propiedad: {{propiedad.terreno | title}} m2</p>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <p>Dirección: {{propiedad.direccion | title}}</p>
                    <p>Código Postal: {{propiedad.cp}}</p>
                </div>
            </div>

            <!-- Características -->
            <div class="property-card">
                <h1 class="text-center">CARACTERÍSTICAS</h1>
                <br>
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        {% if propiedad.cubiculos != None and propiedad.cubiculos > 0 %}
                        <i class="fas fa-check"></i> Cubículos ({{propiedad.cubiculos}}) <br>
                        {% endif %}
                        
                        {% if propiedad.areas_trabajo != None and propiedad.areas_trabajo > 0 %}
                        <i class="fas fa-check"></i> Áreas de trabajo ({{propiedad.areas_trabajo}}) <br>
                        {% endif %}

                        {% if propiedad.banos != None and propiedad.banos > 0%}
                        <i class="fas fa-check"></i> Baños ({{propiedad.banos}}) <br>
                        {% endif %}

                        {% if propiedad.sala_juntas != None and propiedad.sala_juntas > 0 %}
                        <i class="fas fa-check"></i> Sala de Juntas ({{propiedad.sala_juntas}}) <br>
                        {% endif %}

                        {% if propiedad.sala_espera != None and propiedad.sala_espera > 0 %}
                        <i class="fas fa-check"></i> Sala de Espera ({{propiedad.sala_espera}}) <br>
                        {% endif %}
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        {% if propiedad.comedor != None and propiedad.comedor > 0 %}
                        <i class="fas fa-check"></i> Comedor ({{propiedad.comedor}}) <br>
                        {% endif %}

                        {% if propiedad.cocineta != None and propiedad.cocineta > 0 %}
                        <i class="fas fa-check"></i> Cocineta ({{propiedad.cocineta}}) <br>
                        {% endif %}

                        {% if propiedad.lineas_telefonicas != None and propiedad.lineas_telefonicas > 0 %}
                        <i class="fas fa-check"></i> Lineas Telefónicas ({{propiedad.lineas_telefonicas}}) <br>
                        {% endif %}

                        {% if propiedad.elevador != None and propiedad.elevador > 0 %}
                        <i class="fas fa-check"></i> Elevador ({{propiedad.elevador}}) <br>
                        {% endif %}

                        {% if propiedad.aire_acondicionado != None and propiedad.aire_acondicionado > 0 %}
                        <i class="fas fa-check"></i> Aire Acondicionado ({{propiedad.aire_acondicionado}}) <br>
                        {% endif %}
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        {% if propiedad.bodega != None and propiedad.bodega > 0 %}
                        <i class="fas fa-check"></i> Bodega ({{propiedad.bodega}}) <br>
                        {% endif %}

                        {% if propiedad.pisos != None and propiedad.pisos > 0 %}
                        <i class="fas fa-check"></i> Pisos ({{propiedad.pisos}}) <br>
                        {% endif %}

                        {% if propiedad.canceleria != None and propiedad.canceleria > 0 %}
                        <i class="fas fa-check"></i> Cancelería ({{propiedad.canceleria}}) <br>
                        {% endif %}

                        {% if propiedad.garage_descubierto != None and propiedad.garage_descubierto > 0 %}
                        <i class="fas fa-check"></i> Garage Descubierto ({{propiedad.garage_descubierto}}) <br>
                        {% endif %}

                        {% if propiedad.garage_cubierto != None  and propiedad.garage_cubierto > 0 %}
                        <i class="fas fa-check"></i> Garage Cubierto ({{propiedad.garage_cubierto}}) <br>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Detalles -->
            <div class="property-card">
                <h1 class="text-center">DETALLES</h1>
                <br>
                <p class="text-justify">
                    {{propiedad.observaciones}}
                </p>

            </div>


        </div>
        <div class="col-lg-4">

            <div id="" align="center" style="margin-bottom: 6%;">
                <!-- <div class="contact-content-section"> -->
                <form class="contact-section-form" action="" method="POST">
                    {% csrf_token %}
                    <div align="left" style="margin-bottom: 2em;">
                        <h3 style="color: #223300;">CONTACTA AL AGENTE</h3>

                    </div>
                    <!-- <div class="row">
                            <div class="col-md-6"> -->

                    <div class="form-group">
                        <!-- <label for="name">Nombre:</label> -->
                        <input type="text" class="form-control" name="name" id="name" placeholder="Nombre" required>
                    </div>
                    <div class="form-group">
                        <!-- <label for="phone">Telefono:</label> -->
                        <input type="number" class="form-control" name="phone" id="phone" placeholder="Teléfono"
                            required>
                    </div>
                    <div class="form-group">
                        <!-- <label for="email">Email:</label> -->
                        <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" required>
                    </div>
                    <div class="form-group">
                        <textarea name="message" class="form-control" id="message" rows="8"
                            placeholder="Mensaje"></textarea>
                    </div>
                    <!-- </div>
                        </div> -->
                    <div align="">
                        <button type="submit" class="btn btn-verde">Enviar</button>
                    </div>
                </form>
                <!-- </div> -->
                <div class="property-card">
                    <img src="{{propiedad.agente.foto.url}}" alt="">
                    <h1>{{propiedad.agente.user}}</h1>
                    <br>
                    <p><i class="fas fa-phone-volume"></i> {{propiedad.agente.user.phone}}</p>
                    <p><i class="far fa-envelope"></i> {{propiedad.agente.user.email}}</p>

                </div>
            </div>

        </div>
    </div>
</div>



{% endblock content %}