{% extends 'ecommerce/layouts/ecommerce.layout.html' %}

{% load static %}
{% block content %}
{% include './includes/header.html' with seccion="DESARROLLOS" %}

<div id="desarrollos" style="margin: 7%;">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
            <img style="width: 80%;" src="{% static 'img/ecommerce/desarrollos-12.png' %}">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <img style="width: 80%;" src="{% static 'img/ecommerce/desarrollos-13.png' %}">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <img style="width: 80%;" src="{% static 'img/ecommerce/desarrollos-14.png' %}">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <img style="width: 80%;" src="{% static 'img/ecommerce/desarrollos-15.png' %}">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <img style="width: 80%;" src="{% static 'img/ecommerce/desarrollos-16.png' %}">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <img style="width: 80%;" src="{% static 'img/ecommerce/desarrollos-17.png' %}">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <img style="width: 80%;" src="{% static 'img/ecommerce/desarrollos-18.png' %}">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <img style="width: 80%;" src="{% static 'img/ecommerce/desarrollos-19.png' %}">
        </div>
    </div>
</div>

<div>
    <img src="{% static 'ecommerce/img/banner-redes.png' %}">
</div>

{% endblock content %}