{% extends 'ecommerce/layouts/ecommerce.layout.html' %}

{% load static %}


{% block estilos-adicionales %}

<style>
    #header_section_back{
        background: url("{% static 'img/img-21.png' %}") no-repeat center;
        background-size: cover;
        min-height: 100vh;
    }

    .img-desarrollo{
        width: 600px !important;
    }

    .desarrollo-link:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .top-header {
        color:#000 !important;
    }
    .btn-transparent{
            border-color: #000000 !important;
            border-radius: 0px !important;
            padding: 5px !important;
            color: #000000 !important;
    }

    .btn-transparent:hover{
            background-color: #000000 !important;
            color: #ffffff !important;
    } 


</style>

{% endblock estilos-adicionales %}
    

{% block content %}
{% include './includes/header.html' with seccion="DESARROLLOS" %}

<div id="desarrollos" style="margin: 7%;">
    <div class="row">
        <div class="col ">
            <a href="{% url  'ecommerce:desarrollos-punta'  %}" class="desarrollo-link">
                <img  class="img-fluid" src="{% static 'img/img-13.png' %}">
            </a>
        </div>
        <div class="col mb-3 ">
            <a href="{% url  'ecommerce:desarrollos-ambar'  %}" class="desarrollo-link">
                <img class="img-fluid" src="{% static 'img/img-18.png' %}">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3 ">
            <a href="{% url  'ecommerce:desarrollos-hexus'  %}" class="desarrollo-link">
                <img class="img-fluid" src="{% static 'img/img-16.png' %}">
            </a>
        </div>
        <div class="col mb-3 ">
            <a href="{% url  'ecommerce:desarrollos-buenaventura'  %}" class="desarrollo-link">
                <img class="img-fluid" src="{% static 'img/img-17.png' %}">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3 ">
            <a href="{% url  'ecommerce:desarrollos-upday'  %}" class="desarrollo-link">
                <img class="img-fluid" src="{% static 'img/img-12.png' %}">
            </a>
        </div>
        <div class="col mb-3 ">
            <a href="{% url  'ecommerce:desarrollos-kinobay'  %}" class="desarrollo-link">
                <img class="img-fluid" src="{% static 'img/img-15.png' %}">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3 ">
            <a href="{% url  'ecommerce:desarrollos-playas'  %}" class="desarrollo-link">
                <img class="img-fluid" src="{% static 'img/img-14.png' %}">
            </a>
        </div>
        <div class="col mb-3 ">
            <a href="{% url  'ecommerce:desarrollos-rancho'  %}" class="desarrollo-link">
                <img class="img-fluid" src="{% static 'img/img-19.png' %}">
            </a>
        </div>
    </div>
</div>
{% endblock content %}