{% extends 'ecommerce/layouts/ecommerce.layout.html' %}
{% load static %}


{% block estilos-adicionales %}
<style>
    .img-container {
        height: 400px;
        width: 380px;
    }

    .img-containter img {
        height: 100%;
        width: auto;
    }

    .texto {
        height: 80px;
    }
</style>
{% endblock estilos-adicionales %}

{% block content %}
{% include './includes/nav.html' %}
<!-- slider section -->
<div id="slider_back">
    <section class="slider">
        <ul class="sliders">

            {% for slider in sliders %}
            <li class="glide__slide main-slider__item">
                <img src="{{ slider.image.url }}" alt="">
                <div class="main-slider__content">
                    <h2 class="main-slider__content__title">{{ slider.title}}</h2>
                    <a href="{{ slider.url }}" class="main-slider__content__action btn btn-success text-xs">Ver más</a>
                </div>
            </li>
            {% endfor %}

        </ul>
    </section>
</div>
<!-- end of slider section -->
<!-- search section -->
<!-- <div id="search_section_back">
    <section class="search-section">
        <h4 class="search-section__title">¿Qué estás buscando?</h4>
        <form class="search-section__form" action="">
            <select class="search-section__select" name="machine_type" id="">
                <option value="" selected disabled>Tipo de maquina</option>
                <option value="1">Motosierra</option>
                <option value="1">Podadora</option>
            </select>
            <select class="search-section__select" name="machine_brand" id="">
                <option value="" selected disabled>Marca</option>
                <option value="1">Stihl</option>
                <option value="1">Truper</option>
            </select>
            <select class="search-section__select" name="machine_type" id="">
                <option value="" selected disabled>Modelo</option>
                <option value="1">2010</option>
                <option value="1">2011</option>
            </select>
            <button class="btn btn-success" type="submit">Buscar</button>
        </form>
    </section>
</div> -->
<!-- end of search section -->
<!-- video section -->
<!-- <div id="video_section_back">
    <section class="video-section">
        <section class="business-features">
            <article class="business-features__item business-features__item__green">
                <div class="business-features__icon">
                    <img src="{% static 'backoffice/img/ic-10.png' %}" alt="">
                </div>
                <div class="business-features__content">
                    <h4>Envío gratis</h4>
                    <span>En compras mayores de $599.00</span>
                </div>
            </article>
            <article class="business-features__item business-features__item__dark">
                <div class="business-features__icon">
                    <img src="{% static 'backoffice/img/ic-11.png' %}" alt="">
                </div>
                <div class="business-features__content">
                    <h4>Devolución</h4>
                    <span>¡Gratis!</span>
                </div>
            </article>
            <article class="business-features__item business-features__item__black">
                <div class="business-features__icon">
                    <img src="{% static 'backoffice/img/ic-12.png' %}" alt="">
                </div>
                <div class="business-features__content">
                    <h4>Atención personalizada</h4>

                </div>
            </article>
        </section>
        <section class="video">
            <div class="video-content">
                <h2>{{ video.title }}</h2>
                <p>{{ video.content }}</p>
            </div>
            <div class="video-player">
                        {% autoescape off %}
                            {{ video.code }}
                        {% endautoescape %}
            </div>
        </section>
    </section>
</div> -->
<!-- end of video section -->

<!-- map -->
<div class="container-fluid" style="margin-bottom: -3%; align:center; background-color:#ececec;">
    <img src="{% static 'ecommerce/img/mapa.png' %}" class="mapimg">
</div>
<!-- end map -->

<!-- formulario index -->
<div align="center" style="
        background-color: #e9e9e9;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 6%;
        padding-top: 3%;
        padding-bottom: 3%;
        border-top: 4px solid #000000;
        position: relative;
        ">
    <form class="contact-section-form" action="{% url 'ecommerce:contact' %}" method="POST">
        {% csrf_token %}
        <!-- <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Nombre:</label>
                        <input type="text" class="form-control" name="name" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="subject">Asunto:</label>
                        <input name="subject" class="form-control" id="subject"></input>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="message">Mensaje:</label>
                        <textarea name="message" class="form-control" id="message" rows="8"></textarea>
                    </div>
                </div>
            </div>
            <div align="center">
                <button type="submit" class="btn"
                style="
                    background-color: #223300;
                    border-radius: 36px;
                    padding-left: 2%;
                    padding-right: 2%;
                    ">Enviar</button>
            </div> -->
        <div class="row" style="text-align: center; text-align-last: center;">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="tipo_propiedad" class="label">TIPO DE PROPIEDAD</label>
                    <select class="form-control">
                        <option value="">Tipo de Propiedad</option>
                        <option value="">Opcion 1</option>
                        <option value="">Opcion 2</option>
                        <option value="">Opcion 3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ciudad" class="label">CIUDAD</label>
                    <select class="form-control">
                        <option value="">Ciudad</option>
                        <option value="">Opcion 1</option>
                        <option value="">Opcion 2</option>
                        <option value="">Opcion 3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="habitaciones" class="label">HABITACIONES</label>
                    <select class="form-control">
                        <option value="">Habitaciones</option>
                        <option value="">Opcion 1</option>
                        <option value="">Opcion 2</option>
                        <option value="">Opcion 3</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="tipo_oferta" class="label">TIPO DE OFERTA</label>
                    <select class="form-control">
                        <option value="">Tipo de Oferta</option>
                        <option value="">Opcion 1</option>
                        <option value="">Opcion 2</option>
                        <option value="">Opcion 3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="estado" class="label">ESTADO</label>
                    <select class="form-control">
                        <option value="">Estado</option>
                        <option value="">Opcion 1</option>
                        <option value="">Opcion 2</option>
                        <option value="">Opcion 3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="tamano" class="label">TAMAÑO</label>
                    <select class="form-control">
                        <option value="">Tamaño</option>
                        <option value="">Opcion 1</option>
                        <option value="">Opcion 2</option>
                        <option value="">Opcion 3</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row form-group">
                    <div class="col-md-12" style="text-align: center;">
                        <label for="precio" class="label">PRECIO</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="number" placeholder="Desde" class="form-control" name="precio-desde"
                                id="precio-desde">
                        </div>
                        <div class="col-md-6">
                            <input type="number" placeholder="Hasta" class="form-control" name="precio-hasta"
                                id="precio-hasta">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="numero_banos" class="label">BAÑOS</label>
                    <select class="form-control">
                        <option value="">Número de Baños</option>
                        <option value="">Opcion 1</option>
                        <option value="">Opcion 2</option>
                        <option value="">Opcion 3</option>
                    </select>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 prop_form">
                        <button type="reset" class="btn btn-block clear-button">LIMPIAR</button>
                    </div>
                    <div class="col-md-6 prop_form">
                        <button type="submit" class="btn btn-block" style="
                            background-color: #486600;
                            border-radius: 36px;
                            padding-left: 2%;
                            padding-right: 2%;
                            ">BUSCAR</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- end formulario index -->

<!-- logo-texto -->
<div class="row">
    <div align="center" style="
    margin-left: 5%;
    margin-right: 5%;
    ">
        <div class="col-md-4" style="float:left;">
            <img src="{% static 'img/logo-negro.png' %}" width="80%" style="margin-bottom: 1.5em;">
        </div>
        <div class="col-md-8" style="padding-left: 5%; float:left;">
            <p style="text-align: justify;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet risus nec elit lacinia accumsan
                ultricies id dolor.
                Nam pulvinar ante massa, a efficitur risus elementum at. Proin egestas facilisis efficitur. Suspendisse
                nisl nibh, convallis id facilisis vel, placerat ac urna.
                Nulla eu leo lectus. Praesent consequat augue purus, ac congue justo fringilla ut. Sed sed velit diam.
                Donec nisi metus, placerat nec dolor accumsan, rutrum fermentum lacus.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.Proin egestas facilisis efficitur. Suspendisse
                nisl nibh, convallis id facilisis vel, placerat ac urna.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.Proin egestas facilisis efficitur. Suspendisse
                nisl nibh, convallis id facilisis vel, placerat ac urna.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.Proin egestas facilisis efficitur. Suspendisse
                nisl nibh, convallis id facilisis vel, placerat ac urna.
            </p>
            <div align="left" style="margin-top: 1%; margin-top: 6%;">
                <button type="submit" class="btn" style="
                    text-align:left;
                    background-color: #486600;
                    border-radius: 36px;
                    padding-left: 5%;
                    padding-right: 5%;
                    ">CONOCE MÁS</button>
            </div>
        </div>
    </div>
</div>
<!-- end logo-texto -->


<!-- Propiedades -->
<div class="row">
    <div align="center" style="
    margin-left: 5%;
    margin-right: 5%;
    margin: 6% 6%;
    ">
        <h1 class="h1_title">PROPIEDADES</h1>
        {% for propiedad in propiedades %}
        <div class="col-md-4 col-prop" style="padding:0px !important; float: left;">
            <div class="col-md-12" style="padding-right:1%; padding-left:1%;">
                <img class="img-responsive" src="{{propiedad.imagen.image.url}}">
                <div class="col-md-12 prop-style" style="background-color: #f1f1f1; padding: 1em 1em; text-align: justify;">
                    <h1 style=" font-size: 20pt;">{{propiedad.nombre}}</h1>
                    <p>{{propiedad.direccion}}</p>
                    <p style="color: #486600;">${{propiedad.precio}}</p>
                    <p><i class="fas fa-bed"></i>&nbsp;3&nbsp;&nbsp;&nbsp;<i
                            class="fas fa-bath"></i>&nbsp;{{propiedad.banos}}&nbsp;&nbsp;&nbsp;<i
                            class="fas fa-th-large"></i> {{propiedad.construccion}} m2
                    </p>
                    <div class="row prop-bottom" style="padding-top:1em;">
                        <div class="col" style="font-size: 10px; padding-top: 2%;">
                            <!-- <p>Hace 3 Meses</p> -->
                            <!-- <p>{{propiedad.created_at|timesince}}</p> -->
                            <p>Hace 3 meses</p>
                        </div>
                        <div class="col" style="padding-top: 2%;">
                            <p style="font-size: 10px;"><i class="far fa-clone"></i> COMPARAR</p>
                        </div>
                        <div class="col">
                            <button onClick="location.href='{% url  'ecommerce:property_detail' propiedad.id %}'"
                                class="prop-button">DETALLES &#129122;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- <div class="container prop-cont" style="padding: 0% 3% 0% 3%;">
    
</div> -->
<!-- end Propiedades -->

<!-- Agentes -->
<!-- padding: 1% 3% 1% 3%; margin:0px; -->
<div class="row" style="background: url('static/ecommerce/img/patron-agentes.png'); background-size: cover;">
    <div align="center" style="
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 6%;
    ">
        <h1 class="h1_title">CONOCE A NUESTROS AGENTES</h1>
        {% for agente in agentes %}
        <div class="col-md-4 col-agnt" style="padding:0px !important; float: left;">
            <div class="col-md-12">
                <img src="{{agente.foto.url}}">
                <div class="col-md-12" style="background-color: white; text-align: justify;">
                    <br>
                    <h1 class="agente-nombre">{{agente.user|title}}</h1>
                    <br>
                    <p>{{agente.texto|truncatechars:210}}</p>
                    <br>
                    <p><span style="color: #486600"><i class="far fa-envelope"></i></span>
                        {{agente.user.email}}</p>
                    <div class="col-md-5 agnt-col" style="margin-left: auto; margin-right: 0; padding: 5%;">
                        <button onClick="location.href='{% url 'ecommerce:agent_profile' agente.id %}'"
                            class="prop-button agnt-button">VER PERFIL</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div align="center" style="margin-top: 1%;">
            <button onClick="location.href='{% url 'ecommerce:agents' %}'" class="btn-agente">
                CONOCE A NUESTROS AGENTES <br><strong><span class="bigspan">¡AQUÍ!</span></strong>
            </button>
            <!-- <a href="{% url 'ecommerce:agents' %}" class="big-button">
                <span style="font-size: 18px;">A NUESTROS AGENTES</span>
                <br>
                <span><strong>¡AQUÍ!</strong></span></a> -->
        </div>
    </div>
</div>
<!-- end Agentes -->

{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('.sliders').slick();
    })
</script>
{% endblock scripts %}