{% extends 'ecommerce/layouts/ecommerce.layout.html' %}

{% load static %}


{% block estilos-adicionales %}

<style>
    #header_section_back{
        background-image: url("{% static 'img/banner-carro.png' %}");
        background-position: bottom;
    }
</style>

{% endblock estilos-adicionales %}
    

{% block content %}

{% include './includes/header.html' with seccion="BLOG" %}
<div class="post-list-back">

    <div class="post-list-content">
        <div class="post-list-container">
            {% for post in object_list %}
                <article class="post">
                    <img class="post-list-post-image" src="{{ post.image.url }}" alt="">
                    <h2 class="posts-list-post-title">{{ post.title }}</h2>
                    <span class="posts-list-post-date">{{ post.created_at }}</span>
                    <div class="posts-list-post-content-container">
                    {% autoescape off %}
                        {{ post.content|slice:":500" }} ...
                    {% endautoescape %}
                    </div>
                    <a class="btn btn-success text-xs mt-5 inline-block"
                        href="{% url 'ecommerce:post_single' post.slug %}">Ver mas</a>
                </article>
            {% empty %}
                <h1>No hay posts</h1>
            {% endfor %}
        </div>
        <div class="posts-pagination__container">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a class="btn btn-success" href="?page=1">&laquo; Primera</a>
                <a class="btn btn-success" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a class="btn btn-success" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                <a class="btn btn-success" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
<div class="posts-list-pagination-links">

    {% comment %} {{$posts->links()}} {% endcomment %}
</div>
{% endblock content %}
