{% extends 'backoffice/layouts/backoffice.layout.html' %}

{% load static %}
{% block content %}
{% for post in object_list %}
<article class="slider-item">
    <img src="{{ post.header.url }}" alt="">
    <div class="slider-item__footer">
        <h2 class="slider-item__title">{{ post.title }}</h2>

        <ul class="slider-item__actions">
            <li><a href="{% url 'backoffice:post_edit' post.id %}"><img
                        src="{% static 'img/backoffice/ic-edit.png' %}" alt=""><span>Editar</span></a></li>
            <li><a href="{% url 'backoffice:post_delete' post.id %}" class="slider-item__delete__button" data-id=""
                    data-title=""><img src="{% static 'img/backoffice/ic-delete.png' %}" alt="">Eliminar</a></li>
        </ul>

    </div>
</article>
{% empty %}
<h2>No hay registros</h2>
{% endfor %}
{% endblock content %}

{% block footer_actions %}
<div id="footer_actions">
    <ul class="footer-actions">
        <li class="footer-actions__item"><a href="{% url 'backoffice:post_create' %}"><img
                    class="footer-actions__icon" src="{% static 'img/backoffice/ic-add.png' %}" alt="">Nuevo post</a>
        </li>
    </ul>
</div>
{% endblock footer_actions %}
