{% extends 'backoffice/layouts/backoffice.layout.html' %}

{% block content %}

    <form class="slider-form" action="{% url 'backoffice:sliders_create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.errors %}
        {% for key,value in form.errors.items %}
        <div class="login-form__alert" role="alert">
            <p>{{key}}: {{ value }}</p>
        </div>

        {% endfor %}
        {% endif %}

        {% if messages %}
        <ul class="login-form__alert" role="alert">
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="form-group">
            <label for="title">{{form.title.label}}</label>
            <input type="text" name="title" id="title" required>
        </div>
        <div class="form-group">
            <label for="url">{{form.url.label}}</label>
            <input type="url" name="url" id="url" required>
        </div>
        <div class="form-group">
            <label for="image">{{form.image.label}}</label>
            <input type="file" name="image" id="image" required>
            <span for="" class="slider-form__image__warning">* La imagen debe tener resolución de 1920 x 600 px y no debe
                pesar mas de 1MB.</span>
        </div>
        <div class="form-group">
            <label for="order">{{form.order.label}}</label>
            <input type="number" name="order" id="order" required>
        </div>
        <div class="form-group__actions">
            <button class="btn btn-success" type="submit">Guardar</button>
            <a class="btn btn-danger" href="{% url 'backoffice:sliders' %}">Cancelar</a>
        </div>
    </form>

{%endblock%}
