@import "./sliders";
@import "./users";

#site_wrapper {
    background-color: $primaryGreen;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#content_wrapper {
    background-color: white;
    display: grid;
    grid-template-areas:
        "header header"
        "subheader subheader"
        "sidemenu content"
        "sidemenu footer";
    grid-template-rows: 60px 60px auto 50px;
    grid-template-columns: 20% auto;
    max-width: 1500px;
    min-height: 100vh;
    width: 100%;
}

// Header
#main_header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    grid-area: header;
    justify-content: space-between;
    height: 60px;
    padding: 0px 20px;
}

.main-header__logo {
    display: flex;
    justify-content: center;

    >a>img {
        width: 200px;
    }
}

.main-header__user-menu {
    >a>img {
        width: 50px;
    }
}

// Subheader
#subheader {
    align-items: center;
    background-color: $primaryGreen;
    display: flex;
    grid-area: subheader;
    padding-left: 20%;
}

.subheader__title {
    color: white;
    font-size: 34px;
    font-weight: bolder;
    padding-left: 20px;
    text-transform: uppercase;
}

// Sidemenu
#sidemenu {
    background-color: $primaryGreen;
    box-sizing: border-box;
    grid-area: sidemenu;
    padding: 0px 20px;
}

.side-menu__user-info {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

.side-menu__logo {
    max-width: 80px;
}

.side-menu__username {
    color: white;

    >p {
        font-weight: bolder;
    }

    >span {
        font-weight: lighter;
    }
}

.bo__main-nav {
    color: white;
}

.bo__main-nav__item {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px;
    display: flex;

    &:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }

    >img {
        margin-right: 5px;
        margin-top: -4px;
        max-width: 30px;
        line-height: 1;
    }
}

.bo__main-nav__item--active {
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bolder;
    position: relative;

    &::after {
        content: "\203A";
        font-size: 30px;
        position: absolute;
        right: 10px;
        top: 0%;
    }
}

// Content
#content {
    display: flex;
    flex-direction: column;
    grid-area: content;
    box-sizing: border-box;
    padding: 10px 20px;
}

#footer_actions {
    margin-top: auto;
    grid-area: footer-actions;
    display: flex;
    justify-content: flex-end;
}

// Footer
#main_footer {
    color: $softGray;
    grid-area: footer;
    display: flex;
    justify-content: center;

    >p>a {
        text-decoration: underline;
    }
}

// Footer actions
#footer_actions {
    padding-right: 20px;
}

.footer-actions__item>a {
    display: flex;
    align-items: center;
}

.footer-actions__icon {
    margin-right: 5px;
    width: 30px;
}

// Delete forms
.bo-delete-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
